@import url("../../styles/colors.css");

.cont {
  height: 100%;
  overflow: auto;
  margin: 0;
  padding-right: 0;
}

.item {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #eeeeee;
  padding: 10px;
  text-decoration: none;
  cursor: pointer;
  color: #2d9975;
  }

  h5:hover {
      color: #e62601;
    }

  .rating {
    text-align: right;
    flex: 1;
  }

  &:last-child {
    border-bottom: none;
  }
